# Windows image file caches
# Folder config file
# Recycle Bin used on file shares
# Windows Installer files
# Windows shortcuts
# =========================
# Operating System Files
# =========================

# OSX
# =========================

# Thumbnails
# Files that might appear in the root of a volume
# Directories potentially created on remote AFP share
*.htpasswd
.idea/*
________anleitung.txt
________login_________.txt
version.txt
rss.xml
*.phar
inc/configs/config.php
vendor/*
inc/lang/ru_old.php